/***
   Rui Santos
   Complete project details at https://RandomNerdTutorials.com
***/

html {
  font-family: Arial;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
  background-color: black;
}
svg{
  width: 100%;
  height: auto;
}
.button {
  display: inline-block;
  background-color: #008CBA;
  border: none;
  border-radius: 4px;
  color: white;
  width: clac(50% -20px);
  text-decoration: none;
  cursor: pointer;


  font-size: min(3vw, 16px);
}
.button2 {
  background-color: #f44336;
}

.sensorcontaioner{

  display: flex;
  flex-wrap: nowrap;
}

.sensorbox{
  background-color: rgb(230, 213, 213);
  flex: 1 1 0px;
  position: relative;
  margin: 5px;
  text-align: center;
  min-width: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sensorbox > svg{
  display: block;
}aliexp

.sensorbox > .sensortext{

  font-size: min(3vw, 16px);
  width: 100%;
  height: fit-content;
  text-align: center;
  display: block;
  position: absolute;
  z-index: 10;
  color: rgba(0,0,0,0.8)
}

.reading{

font-weight: bolder;
font-size: 150%;

}

input.range{

  font-size: min(3vw, 16px);
  width: 40%;
  max-width: 60px;
  position: absolute;
  border: none;
  background-color: rgba(0,0,0,0);
  color: rgba(0,0,0,0.4);

  border-radius: 3px; 
}

input.range:hover{

  background-color: rgba(0,0,0,0.05);
  color: rgba(0,0,0,0.7);
}
input.range:focus{

  background-color: rgba(0,0,0,0.05);
  color: rgba(0,0,0,0.7);
}

input.range.max{

  top:0px;
  left: 0px;

}

input.range.min{

  bottom: 0px;
  left: 0px;
}